

@import url('reset.css');
@import url('rwd.css');


body {
	font: 400 14px/20px "Segoe UI",'Source Sans Pro', Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: #828a93;
	
	-webkit-font-smoothing: antialiased;
}

article, aside, footer, header, hgroup, main, nav, section {
	display: block;
}

::selection {
	background-color: #97c6da;
	color: #fff;
}

::-moz-selection { /* Code for Firefox */
	background-color: #f36f5f;
	color: #fff;
}

header {
	width: 100%;
}



h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #222;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 12px;
}